<?xml version="1.0" encoding="utf-8"?>
<package>
  <!-- Basic Package Info -->
  <info>
	<!-- max length of name = 32 chars (length tof databaseupgrade field) -->
    <name>Verification And Testing</name>
    <label>Verification And Testing</label>
    <version>12.0.1</version>
    <version_label>12.0R1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>Adds test plan, test run, test plan templates (optionally link to Requirements 'satisfied by'.</description>
    <copyright>©2020 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>
    </more_information_url>
    <tool_minimal_version_required>1.7</tool_minimal_version_required>
  </info>
  <!-- Installation Process -->
  <installation do_backup="false">
    <module id="IS" label="Code tree update (images only)" description="Copy files into the code tree" required_properties="Innovator.Dir">
	  <echo>Adding code tree patches to folder: ${Innovator.Dir}/Client</echo>
      <copy todir="${Innovator.Dir}/" failonerror="true">
        <fileset basedir="${Package.Dir}/CodeTreePatches/Innovator">
          <include name="**" />
        </fileset>
      </copy>
    </module>
    <module id="DB" label="Verification and Testing Solution" description="Verification and Testing Solution" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases</echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
          <innovator version="12.0 SP14" />
          <innovator version="12.0 SP15" />
        </or>
      </dependencies>
	  <echo>Import 1 - Verification and Test solution</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/1-imports.mf" failonerror="true" />
    </module>
    <module id="DB2" label="(Optional) PLM extensions" description="Add QD/TGVs to Part" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases, and availability of PLM </echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
          <innovator version="12.0 SP14" />
          <innovator version="12.0 SP15" />
        </or>
		<application exists="true" name="com.aras.innovator.solution.PLM" />
      </dependencies>
	  <echo>Import 2 - QD/TGVs to Part </echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/2-imports - PLM.mf" failonerror="true" />
    </module>
    <module id="DB3" label="(Optional) RE and SA extensions" description="Add RE to SA link and TGVs" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases, and availability of SA,SM, RE </echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
          <innovator version="12.0 SP14" />
          <innovator version="12.0 SP15" />
        </or>
		<application exists="true" name="com.aras.innovator.solution.SA" />
		<application exists="true" name="com.aras.innovator.solution.SM" />
		<application exists="true" name="com.aras.innovator.solution.RE" />
      </dependencies>
	  <echo>Import 3 - add cross relationships RE, SM, SA, and QD/TGVs to view cross links</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/3-imports - SA.mf" failonerror="true" />
    </module>
    <module id="DB4" label="(Optional) RE and SA extensions" description="Add RE to SM link and TGVs" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases, and availability of SA,SM, RE </echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
          <innovator version="12.0 SP14" />
          <innovator version="12.0 SP15" />
        </or>
		<application exists="true" name="com.aras.innovator.solution.SA" />
		<application exists="true" name="com.aras.innovator.solution.SM" />
		<application exists="true" name="com.aras.innovator.solution.RE" />
      </dependencies>
	  <echo>Import 3 - add cross relationships RE, SM, SA,  and QD/TGVs to view cross links</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/4-imports - RE,SM.mf" failonerror="true" />
    </module>
  </installation>
</package>